html,
body {
  background: #000000;
  overflow: hidden;
}
* {
  font-family: "Avenir";
  -webkit-user-select: none;
  user-select: none;
}
.clock {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 9vw;
  margin: auto;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  font-family: "Avenir";
}