html,
body {
  width: 100%;
  background: black;
  overflow: hidden;
}
* {
  font-family: "Avenir";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.clock {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 9vw;
  margin: auto;
  color: white;
  font-weight: 900;
  text-align: center;
  font-family: "Avenir";
}
