html,
body {
  width: 100%;
  background: black;
  overflow: hidden;
}
.clock {
  width: 100%;
  position: absolute;
  font-size: 9vw;
  margin: auto;
  line-height: 100vh;
  color: white;
  font-weight: 900;
  text-align: center;
  font-family: "Avenir";
}
